<mat-drawer-container class="main-container" autosize>
  <mat-drawer class="side-menu" #drawer mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <button class="side-menu-button" type="button" mat-button (click)="drawer.toggle()">
      <!-- <mat-icon>menu</mat-icon> -->
      <div class="circle"></div>
    </button>
  </div>

  <div class="main-content">
    <ng-content></ng-content>
  </div>
</mat-drawer-container>
